/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 10, 28);
  color: azure;
  height: 4.5vh;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}

.nav .part1,
.nav input {
  background-color: rgb(50, 58, 74);
  border: none;
  height: 4vh;
}

.part1,
.part2,
.part3 {
  display: flex;
  gap: 1vh;
  align-items: center;
}

.part1 {
  background-color: rgb(1, 16, 48);
}

.part1 input {
  width: 20vw;
  height: 3vh;
  margin-top: -.5vh;
}

.part3 {
  gap: 2vh;
}

.part3 svg,
.part3 p {
  padding: .1rem;
  border: 0.1rem solid white;
}

.part3 p {
  margin-bottom: .6rem;
}

.part1,
.part2,
.part3 p {
  font-size: 1.3rem;
  margin-top: 1vh;
}

.main {
  background: linear-gradient(170deg, #f9dce0, #c6e6f4);
  height: auto;
  margin-top: -4rem;
}

.sec1 {
  margin-left: 5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 7vh;
}

.sec1 img {
  margin-right: 2rem;
}

.sec2 {
  width: 75vw;
  margin: auto;
  margin-top: 7vh;
  text-align: center;
}

.text h1 {
  font-size: 5rem;
}

.text p {
  font-size: 1.6rem;
  word-spacing: .1rem;
  margin-top: 2vh;
  line-height: 4vh;
}

.text button {
  margin: 5rem;
}

.start {
  background: linear-gradient(0deg, #fa7e02, #faa803);
  color: black;
  margin-top: 7vh;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: 0.3rem solid rgb(255, 115, 0);
  cursor: pointer;
}

.start:hover {
  background: linear-gradient(0deg, #ffc85a, #ff9122);
}

.companies {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.com1,
.com2,
.com3,
.com4,
.com5 {
  display: flex;
  align-items: center;
  margin: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(50, 50, 50);
  justify-content: space-evenly;
}

.footer {
  background-color: rgb(50, 58, 74);
  color: white;
  text-align: center;
  padding: 2rem;
}

.reasons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rem;
  margin-top: 5vh;
  width: 98%;
  height: auto;
}

.r1,
.r2,
.r3,
.r4 {
  width: 30rem;
  text-align: left;
}

.r3,
.r4 {
  margin-top: -10rem;
}

@media (max-width: 800px) {
  .sec1 img {
    display: none;
  }

  .companies {
    display: flex;
    flex-wrap: wrap;
  }

  .reasons {
    text-align: left;
    margin-left: 0;
  }

  .part1 {
    display: none;
  }

  .r1 {
    margin-bottom: -30vh;
  }
}